<main id="curriculum">
  <section class="news">
    <div class="grid">

      <h1 class="title">{{ site.data.mine_description.title[page.lang] }}</h1>
      {% for desc in site.data.mine_description.blocks %}
<p class="highlight" style="margin-top: 2px;">{{ desc.content[page.lang] }}</p>
      {% endfor %}

      <div class="unit four-fifths">

        <h2>{{ site.data.i18n.habilities[page.lang] }}</h2>
        {% for hability in site.data.habilities %}
          {% if hability[page.lang] %}
            <h3 class="title" id="{{hability.name}}"><a href="#{{hability.name}}">{{ hability[page.lang] }}</a></h3>
          {% else %}
            <h3 class="title" id="{{hability.name}}"><a href="#{{hability.name}}">{{ hability.name }}</a></h3>
          {% endif %}
          <ul class="list-group">
          {% for hability in hability.habilities %}
          	<li class="list-group-item">
              {% if hability[page.lang] %}
                <span>{{ hability[page.lang] }}</span>
              {% else %}
                <span>{{ hability.name }}</span>
              {% endif %}

              <div class="star-rating">
                <span class="stars" style="width: {{hability.level | divided_by: 5.0 | times: 100}}%"></span>
              </div>
          	</li>
          {% endfor %}
          </ul>
        {% endfor %}
        <hr/>
        <h2>{{ site.data.i18n.jobs[page.lang] }}</h2>
        {% for experiency in site.data.jobs %}
          <h3 class="title" id="{{ experiency.name }}"><a href="#{{ experiency.name }}">{{ experiency.name }}</a></h3>
          <div>
            {% if experiency.content[page.lang] %}
              <p class="highlight" style="margin-top: 2px;">{{ experiency.content[page.lang] }}</p>
            {% else %}
              <p class="highlight" style="margin-top: 2px;">{{ experiency.content }}</p>
            {% endif %}
          </div>
        {% endfor %}
      </div>

      <div id="curriculum-sumary">
        <aside class="sticky">
          <h4>{{ site.data.i18n.habilities[page.lang] }}</h4>
          <ul>
            {% for hability in site.data.habilities %}
              <li>
                {% if hability[page.lang] %}
                  <a href="#{{ hability.name }}">{{  hability[page.lang] }}</a>
                {% else %}
                  <a href="#{{ hability.name }}">{{ hability.name }}</a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
          <h4>{{ site.data.i18n.jobs[page.lang] }}</h4>
          <ul>
            {% for experiency in site.data.jobs %}
              <li>
                {% if experiency[page.lang] %}
                  <a href="#{{ experiency.name }}">{{ experiency[page.lang] }}</a>
                {% else %}
                  <a href="#{{ experiency.name }}">{{ experiency.name }}</a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </aside>
      </div>
      <div class="clear"></div>
    </div>
  </section>
</main>
