<div class="terminal hidden">
  <h1 class="afterclose"> You Closed Terminal ! --> <button class="open"> reopen ? </button> </h1>
  <div class="window">
     <div class="controls">
       <button class="buttons close" id="close"></button>
       <button class="buttons maximize" href="#"></button>
       <button class="buttons minimize" href="#"></button>
       <div class="title">Gnome Terminal</div>
    </div>
    <div class="bash">
     <span id="span">[adnan@linux-pc ~]:$</span>
     <span class="type-it">dnf update</span>
     <br >
     <div class="result">
     <span id="span2"> Error : This command has to be run under the root user.</span>
     </div>
    </div>
  </div>
</div>
