.list-group-item {
  background-color: #2b2b2b;
  @include box-shadow(inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5));
}

h1 {
  margin-bottom: 6px;
}

pre {
  background-color: transparent;
  border-color: transparent;
}

p.highlight{
  white-space: pre;
}

.sticky-wrapper{
    z-index: 1;
}

.header-is-sticky header{
  @include box-shadow(0px 1px 12px rgba(0,0,0,0.5));
  z-index: 1 !important;
}

.unit.four-fifths h2 {
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.unit.four-fifths h2, .unit.four-fifths h3{
  text-align: center;
  text-transform: uppercase;

  padding-top: 15px;
  padding-bottom: 15px;
}

.unit.four-fifths h3{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.unit.four-fifths h3:before {
  border-left: 1px solid white;
  border-right: 1px solid white;
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  height: 6rem;
  bottom: 0;
}

#curriculum-sumary{
  width: 200px;
  position: absolute;
  margin:0 auto;
  right: 0px;
  aside {
    right: 0px;
    margin-top: 10px;
  }
}

main {
  height: calc(100% - 18rem);
}

body.wrap{
  padding-top: 5rem;
  height: 100%;
  position: relative;
}

main#curriculum section.news h3{
  padding-top: 110px;
  margin-top: -110px;
  z-index: -1;
}

ul.list-group {
  border: 1px solid white;
  border-radius: 5px;
  padding-top: 1px;
  margin-bottom: 3px;
}

ul.list-group li.list-group-item{
  border: none;
  @include transition(all 250ms linear);
}

ul.list-group li.list-group-item:hover{
  background-color: #616060;
  @include transition(all 250ms linear);
}

$ratingSize: 80px;
$starActive: "%231F99CD";
$starInactive: "%23082532";

.star-rating {
    float: right;
    padding-top: 4px;
    height: ($ratingSize/5);
    position: relative;
    width: $ratingSize;
    display: inline-block;
    &:before {
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22929%22%20height%3D%22886%22%20viewBox%3D%220%200%20929%20886%22%3E%3Cstyle%3Epath%20%7B%20fill%3A%20" + $starInactive + "%20!important%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M929%20343c0%208-5%2017-15%2027L711%20567l48%20279c1%203%201%207%201%2012%200%2015-8%2027-22%2027-7%201-15-1-23-6L464%20747%20214%20879c-9%205-16%207-23%207-14%200-23-15-23-28%200-3%200-7%201-12l48-279L14%20370c-9-10-14-19-14-27%200-14%2010-23%2031-26l280-40L437%2023c7-15%2016-23%2027-23s20%208%2028%2023l125%20254%20280%2040c21%203%2032%2012%2032%2026z%22%2F%3E%3C%2Fsvg%3E") !important;
        background-repeat: repeat-x;
        background-size: ($ratingSize/5);
        bottom: 0;
        content: "";
        height: ($ratingSize/5);
        left: 0;
        position: absolute;
        right: 0;
        top: 4px;
        width: $ratingSize;
    }
    > span.stars {
        text-indent: -10000px;
        width: $ratingSize;
        height: ($ratingSize/5);
        position: absolute;
        overflow: hidden;
        &:before {
            background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22929%22%20height%3D%22886%22%20viewBox%3D%220%200%20929%20886%22%3E%3Cstyle%3Epath%20%7B%20fill%3A%20" + $starActive + "%20!important%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M929%20343c0%208-5%2017-15%2027L711%20567l48%20279c1%203%201%207%201%2012%200%2015-8%2027-22%2027-7%201-15-1-23-6L464%20747%20214%20879c-9%205-16%207-23%207-14%200-23-15-23-28%200-3%200-7%201-12l48-279L14%20370c-9-10-14-19-14-27%200-14%2010-23%2031-26l280-40L437%2023c7-15%2016-23%2027-23s20%208%2028%2023l125%20254%20280%2040c21%203%2032%2012%2032%2026z%22%2F%3E%3C%2Fsvg%3E") !important;
            background-repeat: repeat-x;
            background-size: ($ratingSize/5);
            bottom: 0;
            content: "";
            height:($ratingSize/5);
            left: 0;
            position: absolute;
            right: 0;
            text-indent: 10000px;
            top: 0;
        }
    }
}
